#fieldxpath {
    margin-top: 25px;
    line-height: normal;
    i.material-icons {
        color: darkviolet !important;
        line-height: unset;
    }
    .cleaner {
        position: absolute;
        top: 20px;
        right: 10px;
        line-height: normal;
        cursor: pointer;
    }
}